<div class="container">
    <div class="form">
      <h1>write to future you</h1><br>
      <%= form_with model: @message, url: '/messages' do |f| %>
        <%= f.label "Message" %><br>
        <%= f.text_area :content, placeholder: "Future Ethan - \n\nI hope that you...", required: true %><br><br>

        <%= f.label "Email" %><br>
        <%= f.text_field :email_address,  placeholder: "me@gmail.com", required: true, autocomplete: "off" %><br><br>

        <%= f.label "Deliver in..." %><br>
        <%= f.select :delivery_time, options_for_select({"2 minutes" => 2, "2 days" => 2880, "2 weeks" => 20160, "2 months" => 87600, "2 years" => 1051200}) ,required: true %><br><br>

        <%= f.submit "SEND IT", data: {confirm: "Are you sure you want to schedule this message?"} %>

      <% end %>
      <p><%= flash[:notice] %></p>
    </div>
</div>
